@page
@model ForumSite.Areas.Identity.Pages.Account.Manage.MyPageModel
@{
    ViewData["ActivePage"] = ForumSite.Areas.Identity.Pages.Account.Manage.ManageNavPages.MyPage;
}

<div class="container">
    <div class="row">
        <div class="col-6">
            <h3>Bio</h3>
            <hr />
            <form method="post" asp-page-handler="UpdateBio">
                <div class="form-group">
                    <div class="form-group">
                        <textarea class="form-control" id="exampleFormControlTextarea1" asp-for="UserBio" placeholder="@Model.UserBio" rows="6"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>

        <div class="col-4">
            <h3>Profile Picture</h3>
            <hr />
            @if (string.IsNullOrEmpty(Model.ProfilePicture))
            {
                <img src="https://icon-library.com/images/no-profile-pic-icon/no-profile-pic-icon-11.jpg" height="140" width="150" alt="..." style="" />
            }
            else
            {
                <img src="@Model.ProfilePicture" height="140" width="150" />
            }


            <form enctype="multipart/form-data" method="post" asp-page-handler="UpdateProfilePicture">
                <dl>
                    <dd>
                        <input asp-for="FileUpload.FormFile" type="file">
                    </dd>
                </dl>
                <input class="btn btn-primary" type="submit" value="Upload">
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <h3>Private Messages</h3>
        <div>
            <table class="table">
                <tr>
                    <th>From</th>
                    <th>Date</th>
                    <th>Message</th>
                    <th></th>
                </tr>
                @foreach (var message in Model.PersonalMessages)
                {
                    <tr>

                        <td>@Model.UserManager.FindByIdAsync(message.From).Result.UserName</td>
                        <td>@message.DateSent.ToShortDateString()</td>
                        <td>@message.Text</td>
                        <td><a asp-route-username="@Model.UserManager.FindByIdAsync(message.From).Result.UserName" asp-route-id=">@Model.UserManager.FindByIdAsync(message.From).Result.Id" asp-page="/forum/SendPersonalMessage">Reply</a></td>



                    </tr>
                }
            </table>
        </div>
    </div>
    @if (Model.IsInGroup)
    {
        <div class="col-sm-4" @*style="margin-left: 8px"*@>
            <h3>Group Messages</h3>
            <div>
                <table class="table">
                    <tr>
                        <th>From</th>
                        <th>Date</th>
                        <td>Message</td>
                        <th></th>
                    </tr>
                    @foreach (var message in Model.GroupMessages)
                    {
                        <tr>
                            <td>@Model.UserManager.FindByIdAsync(message.From).Result.UserName</td>
                            <td>@message.DateSent.ToShortDateString()</td>
                            <td>@message.Text</td>
                            <td>
                                <a asp-route-groupName="@message.Group.Name"
                                   asp-route-userId="@Model.UserManager.FindByIdAsync(message.From).Result.Id"
                                   asp-route-groupId="@message.GroupId"
                                   asp-page="/forum/SendGroupMessage">Reply</a>
                            </td>

                        </tr>
                    }
                </table>
            </div>
            <a align="right" class="btn btn-dark" asp-page="/forum/SendGroupMessage">Send Group Message</a>
        </div>



    }
</div>