@page
@model ForumSite.Pages.Forum.Admin.AddSubCategoryModel
@{
}

<h2>SubCategories</h2>
<hr />

<table class="table">
    <thead>
        <tr>
            <th><h3>@Model.Title</h3></th>
        </tr>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var subcategory in Model.SubCategories)
        {
            <tr>
                <td>@subcategory.Id</td>
                <td>@subcategory.Title</td>
                <td>@subcategory.Description</td>
                <td align="right">
                    <div>
                        <a asp-page="EditSubCategory" asp-route-id="@subcategory.Id" class="btn btn-primary font-weight-bold">Edit</a>
                        <a asp-page="DeleteSubCategory" asp-route-id="@subcategory.Id" class="btn btn-danger font-weight-bold">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<form method="post">
    <span asp-validation-for="InputSubCategory.Title" class="text-danger"></span>
    <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">Title</span>
        <input type="text" asp-for="InputSubCategory.Title" class="form-control" placeholder="Title" aria-label="Title" aria-describedby="addon-wrapping">
    </div>
    <span asp-validation-for="InputSubCategory.Description" class="text-danger"></span>
    <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">Description</span>
        <input type="text" asp-for="InputSubCategory.Description" class="form-control" placeholder="Description" aria-label="Title" aria-describedby="addon-wrapping">
    </div>
    <hr />
    <div class="btn-group" role="group">
        <button type="submit" class="btn btn-danger">Add</button>
        <a asp-page="./Index" class="btn btn-primary">Back</a>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}