@page
@model ForumSite.Pages.Forum.Admin.IndexModel
@{
}



<div class="btn-group">
    <a asp-page="./AddCategory"  class="btn btn btn-success font-weight-bold"><i class="bi bi-plus"> Add Category</i></a>
    <a asp-page="./RoleHandeling" style="margin-left: 5px;" class="btn btn-warning font-weight-bold"><i class="far fa-address-book"> Roles</i></a>
    <a class="btn btn-primary font-weight-bold" style="margin-left: 5px;" asp-page="GroupPage"><i class="fas fa-users">Groups</i></a>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model.Categories)
        {
            <tr>

                <td>@category.Id</td>
                <td>@category.Title</td>
                <td>@category.Description</td>
                <td align="right">
                    <div>                       
                        <a asp-page="AddSubCategory" asp-route-id="@category.Id" asp-route-title="@category.Title" class="btn btn-info font-weight-bold btn-info">Subcategories</a>
                        <a asp-page="EditCategory" asp-route-id="@category.Id" class="btn btn-primary font-weight-bold"><i class="bi bi-pencil"></i></a>
                        <a asp-page="DeleteCategory" asp-route-id="@category.Id" class="btn btn-danger font-weight-bold"><i class="bi bi-trash"></i></a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<h2>Reported Posts</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Post</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var post in Model.ReportedPosts)
        {
            <tr>

                <td>@post.User.UserName</td>
                <td>@post.PostText</td>

                <td align="right">
                    <div>
                        <a asp-page="UnReportPost" asp-route-id="@post.Id" asp-route-text="@post.PostText" class="btn btn-primary font-weight-bold"><i class="bi bi-pencil"></i></a>
                        <a asp-page="DeleteReportedPost" asp-route-id="@post.Id" asp-route-text="@post.PostText" class="btn btn-danger font-weight-bold"><i class="bi bi-trash"></i></a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>