@page
@using _9Chan.Core.Models
@model ForumSite.Pages.Forum.CategoryModel
@{
}

<table class="table">
    <tr>
        <th>Title</th>
        <th>Description</th>
    </tr>
    @foreach (var category in Model.Categories)
    {
        <tr>
            <td><a asp-page="./SubCategories" asp-route-id="@category.Id" asp-route-categoryTitle="@category.Title">@category.Title</a></td>
            <td>@category.Description</td>
            <td>@category.SubCategories</td>
        </tr>
    }
</table>