@page
@model ForumSite.Pages.MyPageModel
@{
}

<div class="container">
    <div class="row">
        <div class="col-6">
            <h3>Bio</h3>
            <hr />
            <form>
                <div class="form-group">
                    <div class="form-group">
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>

        <div class="col-4">
            <h3>Profile Picture</h3>
            <hr />
            <img src="https://icon-library.com/images/no-profile-pic-icon/no-profile-pic-icon-11.jpg" height="140" width="150" alt="..." style="" />
            <form enctype="multipart/form-data" method="post">
                <dl>
                    <dt>
                        <label @*asp-for="FileUpload.FormFile"*@></label>
                    </dt>
                    <dd>
                        <input @*asp-for="FileUpload.FormFile"*@ type="file">
                    </dd>
                </dl>
                <input asp-page-handler="Upload" class="btn btn-primary" type="submit" value="Upload">
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <h3>Group Messages</h3>
        <div>
            <table class="table">
                <tr>
                    <th>From</th>
                    <th>Date</th>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-6">
        <h3>Private Messages</h3>
        <div>
            <table class="table">
                <tr>
                    <th>From</th>
                    <th>Date</th>
                    <td></td>
                </tr>
                @foreach (var message in Model.PersonalMessages)
                {
                    <tr>
                        <td>@Model.UserManager.FindByIdAsync(message.From).Result.UserName</td>
                        <td>@message.Text</td>
                        <td><a asp-route-username="@Model.UserManager.FindByIdAsync(message.From).Result.UserName" asp-route-id=">@Model.UserManager.FindByIdAsync(message.From).Result.Id" asp-page="/forum/SendPersonalMessage">Reply</a></td>
                        <td>@message.</td> 
                    </tr>
                }
            </table>
        </div>
    </div>
</div>