@page
@using Microsoft.AspNetCore.Identity
@using _9Chan.Core.Models
@inject SignInManager<User> SignInManager
@model ForumSite.Pages.Forum.PostModel
@{
}

<a href='javascript:history.go(-1)'>Back</a>

<h3>@Model.Message</h3>
@foreach (var post in Model.NewPosts)
{
    <div class="card mb-3" style="    max-width: 100%;
        background-color: #f6e6cb
    ">
        <div class="row g-0">
            <div class="col-md-2">
                <div class="profilepicture">
                    @if (post.ProfilePicture == null)
                    {
                        <img class="profilepicture" height="160" width="150" src="https://icon-library.com/images/no-profile-pic-icon/no-profile-pic-icon-11.jpg" alt="..."
                             style="

                border-top: 3px solid black;
                border-bottom: 3px solid black;
                border-right: 3px solid black;
                border-left: 3px solid black;
                " />}
                    else
                    {
                        <img class="profilepicture" src="@post.ProfilePicture" height="160" width="150" alt="..." style="

                border-top: 3px solid black;
                border-bottom: 3px solid black;
                border-right: 3px solid black;
                border-left: 3px solid black;
                " />}
                </div>
            </div>
            <div class="col-md-8">
                <div class="card-body" id="postbody">
                    <a class="text-dark" asp-page="UserProfile" asp-route-userId="@post.UserId"><h5 class="card-title">@post.UserName</h5></a>
                    <p class="card-text">
                        <span id="posttext">@post.PostText</span>
                        <div class="col-md-2">
                            <span><img id="postpicture" src="@post.Picture" alt="" /></span>
                        </div>
                    </p>
                    @*<p align="right">@post.LikesOnPosts <i class="fas fa-thumbs-up"></i></p>*@
                </div>
            </div>

        </div>
        <div class="card-footer" id="postfooter" style="background-color: #e7d4b5">



            @if (SignInManager.IsSignedIn(User))
            {

                <div class="btn-group" role="group" align="left">
                    <a class="btn btn-danger" asp-route-id="@post.PostId" asp-route-username="@post.UserName" asp-route-post="@post.PostText" asp-page="ConfirmReport">
                        <i class="bi bi-exclamation-octagon"></i>
                    </a>
                    <a class="btn btn-primary" asp-route-id="@post.UserId" asp-route-username="@post.UserName" asp-page="SendPersonalMessage">
                        <i class="bi bi-envelope"></i>
                    </a>
                    <form method="post" asp-page-handler="AddLike">
                        <button type="submit" asp-page-handler="AddLike" asp-route-userId="@post.UserId" asp-route-threadId="@post.ThreadId" asp-route-postId="@post.PostId" class="btn btn-success">
                            <i class="fas fa-thumbs-up "><span class="badge bg-success">@post.LikesOnPosts</span></i>
                        </button>
                    </form>
                </div>




            }



            <div align="right">
                <p class="card-text"><small class="text-muted">Posted: @post.DatePosted</small></p>
            </div>

        </div>
        <div id="accordion" style="">
            <div class="card">
                <div class="card-header" style="background-color: #a0937d" id="headingOne">
                    <h5 class="mb-0"  align="center">
                        <button class="btn btn-link focus: color:white;" data-toggle="collapse" data-target="#collapseOne_@post.PostId" aria-expanded="true" aria-controls="collapseOne">
                            <i class="fas fa-comments fa-1.5x" style="color:black;"><span class="badge bg-transparent">(@post.Comments.Where(p => p.PostId == @post.PostId).Count())</span></i>
                        </button>
                    </h5>
                </div>

                <div id="collapseOne_@post.PostId" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    @for (int i = 0; i < @post.Comments.Where(p => p.PostId == @post.PostId).ToArray().Length; i++)
                    {

                        <div class="row g-0">
                            <div class="col-md-2">
                                <div>
                                    @if (post.Comments[i].User.ProfilePicture == null)
                                    {
                                        <img class="profilepicture" height="160" width="150" src="https://icon-library.com/images/no-profile-pic-icon/no-profile-pic-icon-11.jpg"
                                             style="

                border-top: 3px solid black;
                border-bottom: 3px solid black;
                border-right: 3px solid black;
                border-left: 3px solid black;
                " />
                                    }
                                    else
                                    {
                                        <img class="profilepicture" height="160" width="150" src="@($"data:{"image/jpeg"};base64,{Convert.ToBase64String(@post.Comments[i].User.ProfilePicture)}")"
                                             style="

                border-top: 3px solid black;
                border-bottom: 3px solid black;
                border-right: 3px solid black;
                border-left: 3px solid black;
                " />
                                    }
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <a class="text-dark" asp-page="UserProfile" asp-route-userId="@post.Comments[i].UserId"><h5 class="card-title">@post.Comments[i].User.UserName</h5></a>
                                   
                                    <p class="card-text">
                                        <span>@post.Comments[i].CommentText</span>
                                        <div class="col-md-2">
                                            <span><img src="@post.Comments[i].Picture" alt="" /></span>
                                        </div>
                                    </p>
                                   
                                </div>
                            </div>

                        </div>
                        <div class="card-footer" style="background-color: #e7d4b5">



                            @if (SignInManager.IsSignedIn(User))
                            {


                                <div class="btn-group" role="group" align="left">
                                    <a class="btn btn-danger" asp-route-id="@post.Comments[i].PostId" asp-route-username="@post.Comments[i].User.UserName" asp-route-post="@post.Comments[i].CommentText" asp-page="ConfirmReport">
                                        <i class="bi bi-exclamation-octagon"></i>
                                    </a>
                                    <a class="btn btn-primary" asp-route-id="@post.Comments[i].UserId" asp-route-username="@post.Comments[i].User.UserName" asp-page="SendPersonalMessage">
                                        <i class="bi bi-envelope"></i>
                                    </a>
                                    <form method="post" asp-page-handler="AddLike">
                                        <button type="submit" asp-page-handler="AddLikeToComment" asp-route-userId="@post.UserId" asp-route-threadId="@post.ThreadId" asp-route-postId="@post.PostId" asp-route-commentId="@post.Comments[i].Id" class="btn btn-success">
                                            <i class="fas fa-thumbs-up "><span class="badge bg-success">@post.Comments[i].LikesOnComment</span></i>
                                        </button>
                                        @*<button type="submit" asp-page-handler="AddLikeToComment" asp-route-userId="@post.UserId" asp-route-threadId="@post.ThreadId" asp-route-postId="@post.PostId" asp-route-commentId="@post.Comments[i].Id" class="btn btn-success">
                        <i class="bi bi-hand-thumbs-up"></i>
                    </button>*@
                                    </form>
                                </div>
                            }



                            <div align="right">
                                <p class="card-text"><small class="text-muted">Replied: @post.Comments[i].DateReplied</small></p>
                            </div>

                        </div>
                    }
                    <div class="card-body" id="1">
                        <form method="post" asp-page-handler="Reply">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="InputPost.InputText" class="control-label"></label>
                                @*<input asp-for="InputPost.InputText" class="form-control" />*@
                                <span asp-validation-for="InputPost.InputText" class="text-danger"></span>
                                <textarea class="form-control" id="exampleFormControlTextarea1" asp-for="InputPost.InputText" placeholder="" rows="6"></textarea>

                                <label asp-for="InputPost.InputPicture" class="control-label"></label>
                                <input type="url" placeholder="https://example.com" asp-for="InputPost.InputPicture" class="form-control" />
                                <span asp-validation-for="InputPost.InputPicture" class="text-danger"></span>

                            </div>

                            <div class="form-group">

                                <input type="submit" asp-page-handler="Reply" asp-route-postId="@post.PostId" asp-route-threadId="@post.ThreadId" value="Comment" class="btn btn-primary" />
                            </div>
                        </form>


                        <hr />

                    </div>

                </div>



            </div>
        </div>
    </div>

}
@if (SignInManager.IsSignedIn(User))
{
    <h3>Create New Post</h3>
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="InputPost.InputText" class="control-label"></label>
            @*<input asp-for="InputPost.InputText" class="form-control" />*@
            <span asp-validation-for="InputPost.InputText" class="text-danger"></span>
            <textarea class="form-control" id="exampleFormControlTextarea1" asp-for="InputPost.InputText" placeholder="" rows="6"></textarea>          
            <label asp-for="InputPost.InputPicture" class="control-label"></label>
            <input type="url" placeholder="https://example.com" asp-for="InputPost.InputPicture" class="form-control" />
            <span asp-validation-for="InputPost.InputPicture" class="text-danger"></span>

        </div>

        <hr />

        <button type="submit" class="btn btn-primary">Post</button>
    </form>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}