@page
@using Microsoft.AspNetCore.Identity
@using _9Chan.Core.Models
@inject SignInManager<User> SignInManager
@model ForumSite.Pages.Forum.PostModel
@{
}
@foreach (var post in Model.NewPosts)
{
    <img src="@post.ProfilePicture" height="80" width="80"/>
    <h6>@post.UserName</h6>
    <p style="float: right;">@post.DatePosted</p>
    <p>@post.PostText</p>
    <div class="btn-group" role="group">
        @if (SignInManager.IsSignedIn(User))
        {
            <p align="right"><a asp-route-id="@post.PostId" asp-route-username="@post.UserName" asp-route-post="@post.PostText" asp-page="ConfirmReport">Report</a></p>
            <p align="right"><a asp-route-id="@post.UserId" asp-route-username="@post.UserName" asp-page="SendPersonalMessage">PM</a></p>
        }
    </div>
    <hr/>
}

@if (SignInManager.IsSignedIn(User))
{
    <h3>Create New Post</h3>
    <form method="post">
        <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">Title</span>
            <input type="text" asp-for="@Model.InputPost.InputText" class="form-control" placeholder="Title" aria-label="Title" aria-describedby="addon-wrapping">
        </div>

        <hr />

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
}