@page
@model ForumSite.Pages.Forum.SubCategoriesModel
@{
}
@inject _9Chan.Data.Repository.IThreadData threadData
    <i class="fas fa-caret-square-left"><a class="text-dark" asp-page="./Categories">Back</a></i>

<h2>@Model.CategoryTitle</h2>
<table class="table">
    <tr class="text-center">
        <th>Title</th>
        <th>Description</th>
        <th>Threads</th>
        <th>Latest Thread</th>
    </tr>
    @foreach (var subCategory in Model.Table)
    {
        <tr class="text-center">
            <td><a class="text-dark" asp-route-id="@subCategory.CategoryId" asp-route-categoryTitle="@Model.CategoryTitle" asp-route-subCategoryTitle="@subCategory.Title" asp-page="./Threads">@subCategory.Title</a></td>
            <td>@subCategory.Description</td>
            <td>@subCategory.ThreadCount</td>
            <td>
                @subCategory.LatestThreadTitle<br />
                @subCategory.LatestThreadCreatedBy<br />
                <small class="text-muted" style="text-align:center">@subCategory.LatestThreadDate.ToString("g")</small>
            </td>
        </tr>
    }
</table>