@page
@model ForumSite.Pages.Forum.SubCategoriesModel
@{
}
<a href='javascript:history.go(-1)'>Back</a>

<h2>@Model.CategoryTitle</h2>
<table class="table">
    <tr>
        <th>Title</th>
        <th>Description</th>
    </tr>
    @foreach (var subCategory in Model.SubCategories)
    {
        <tr>
            <td><a asp-route-id="@subCategory.CategoryId" asp-route-subCategoryTitle="@subCategory.Title" asp-page="./Threads">@subCategory.Title</a></td>
            <td>@subCategory.Description</td>
        </tr>
    }
</table>